.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Titillium Web', sans-serif !important;
}

.auth-form {
  background: #2A3847;
  border: 20px solid #C9C4C3;
  padding: 40px;
  width: 60%;
  height: 555px;
  position: absolute;
  top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
  display: inline-table;
  font-weight: 300 !important;
  max-width: 700px;
}


.view-buttons {
  width: 100%;
}

.sign-up-btn {
  font-weight: 200 !important;
}

.log-in-btn {
  font-weight: 200 !important;
}

.active {
  background: #36B795 !important;
}

.sign-up-message, .log-in-message {
  color: white;
  font-family: 'Titillium Web', sans-serif;
  padding: 30px 0 25px 0;
  font-size: 30px;
  font-weight: 200;
}

.message {
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

.submit-btn {
  background: #36B795 !important;
  width: 100%;
  border-radius: 0px !important;
  font-size: 32px !important;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.form-control {
  background: transparent !important;
  border-radius: 0 !important;
  color: white !important;
}

.form-group {
  padding:10px 0;
}

.actions {
  padding: 10px 0 ;
}

.forgot-password-row {
  position: relative;
  height: 20px;
}
.forgot-password-link {
  color: #36B795 !important;
  position: absolute;
  right: -12px;
  bottom: -2px;
  text-decoration: none !important;
}
